{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - IcaDesign{% endblock %}

{% block body %}
    <h1>Modifier mon mot de passe</h1>
    <a href="{{ path('app_account') }}">Retourer à mon compte</a><br>
    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
{% endblock %}
