{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
    <main class="container d-flex flex-column justify-content-center mt-4">
        <h1>Comment index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Maison</th>
                    <th>Commentaire</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <td><a href="{{ path('app_house_show', {'id': comment.house.id}) }}">{{ comment.house.name }}<a></td>
                    <td>{{ comment.message }}</td>
                    <td>{{ comment.note }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun commentaire trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
