{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <div class="login d-flex">
        <div class="col-8 col-md-6 col-lg-4 px-3 border border-3 login-container mx-auto my-auto">
           <div>
                <form action="{{ path('login') }}" method="post">
                    <h3 class="text-center">Bienvenu</h1>
                    <legend class="text-center" >Login</legend>
                    {% if error %}
                        <div class="alert alert-danger text-center">Vos identifiants sont incorrects</div>
                    {% endif %}
                    <div class="form-floating mb-3">      
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="_username"/> 
                        <label for="username" class="form-label input-group">Email:</label>
                    </div>

                    <div class="form-floating mb-3"> 
                        <input class="form-control" type="password" id="password" name="_password" placeholder="_password"/>
                        <label for="password" class="form-label input-group">Mot de passe:</label>
                    </div>


                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="text-center">
                        <button class="btn px-5 login-btn mb-3 text-white" type="submit">login</button>
                    </div>    
                </form>
                <div class="text-center mb-3">
                    <a class="text-secondary" href="/register">S'inscrire</a>
                </div>
            </div>
        </diV>
    </div>
    <style>
        .login{
            background:url('/images/backgrounds/register.jpg');
            height:800px;
            background-position:center;
        }
        .login-btn{
            background:rgba(36,36,36,0.9)
        }
        .login-container{
            background:rgba(255,255,255,0.9);
        }
    </style>
{% endblock %}
