<form action="{{ path('app_house_edit_dispo', {'id': house.id}) }}" method="post">

    <div class="flex row">
        <div class="range-picker-container col-md-12 col-lg-8 bg-white d-flex justify-content-center "></div>
        <div class="col-md-4">
            <a class="btn add-range text-white px-5 py-2">Ajouter un créneau</a>
        </div>
        
    </div>

    <div class="date-picker d-flex flex-row justify-content-between" style="display:none;" >
        <input type="hidden" class="dispo_start_date" name="start_date[]" autoComplete="off"/>
        <input type="hidden" class="dispo_end_date" name="end_date[]" autoComplete="off"/>
    </div>
</form>

<script>

    $(document).ready(function(){
        function countDays(start, end) {
            return Math.abs(moment(start).diff(moment(end), 'd')) + 1;
        }

        const toDisable = $("#disabled-date").data('dates');
        const dateTable = [];
        toDisable.forEach(function(event){
            let interval = countDays(event["start_date"], event["end_date"]);

            for(i=0;i < interval; i++){
                let start = moment(event["start_date"]);
                start = start.add(i,'days').format('YYYY-MM-DD');
                dateTable.push(start);
            }
        });

        $('.date-picker').dateRangePicker(
            {
                container:'.range-picker-container',
                alwaysOpen:true,
                separator: ' au ',
                startDate: new Date(),
                language: 'fr',
                startOfWeek :"monday",
                stickyMonths :true,
                beforeShowDay: function(t)
                {
                    const date = moment(t.toJSON()).format('YYYY-MM-DD');
                    var valid = !(dateTable.includes(date));  //disable dates
                    var _class = '';
                    return [valid,_class];
                },
                setValue: function(s,s1,s2)
                {
                    $('.dispo_start_date').val(s1);
                    $('.dispo_end_date').val(s2);
                }
            }
        );

        $('span.next').html('<img src="/font/angle-right-solid.svg">');
        $('span.prev').html('<img src="/font/angle-left-solid.svg">');

        if (window.matchMedia('(max-width: 768px)').matches)
        {
            $('span.next').html('>');
            $('span.prev').html('<');
        }

        $('.add-range').click(function(e){
            e.preventDefault();

            const id = $('#house-id').val();
            let start = $('.dispo_start_date').val();
            let end = $('.dispo_end_date').val();

            const data = {id: id, start_date: start, end_date:end, submitted: true};
            const currentUrl = window.location.origin;
            
            $.ajax({
                url: currentUrl+'/house/'+id+'/edit-dispo',
                data: data,
                method: 'post'
            }).done(function(response){
                $('#events-table').html(response);
            }).fail(function(response){
                $('#events-table').html(response);
            });
        });
    });

</script>