{% extends 'base.html.twig' %}

{% block title %}Edit House Disponibility{% endblock %}

{% block body %}
    <h1>Edit Disponibility</h1>


    <input id="house-id" type="hidden" value="{{house.id}}" />

    <div id="events-table">{{include("house/_events_table.html.twig",{'events': events,'to_disable': to_disable, 'success': success})}}</div>

    <a href="{{ path('app_house_index') }}">back to list</a>


{% endblock %}
