{% extends 'base.html.twig' %}

{% block more_scripts %}
    <link href="https://cdn.jsdelivr.net/npm/flickity@latest/dist/flickity.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/flickity@2.2.1/dist/flickity.pkgd.min.js"></script>
{% endblock %}

{% block title %}House index{% endblock %}

{% block body %}
    <style>
        #map {
        height: 90vh;
        }
    </style>
    {% if app.session.flashBag.has('already-logged') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('already-logged') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    <h1>House index</h1>

    <div class="row">
        <div class="col-6">
            <div style="position: fixed; width:50%;">
                <div id="map"></div>
            </div>
        </div>
        <div class="col-6">
            <div> 
                {{include("house/_search.html.twig")}}
            </div>
            <div id="houses-list">
                {{include("house/_houses.html.twig",{'houses': houses}) }}
            </div>
        </div>
    </div>

    <style>

        .flickity-page-dots li{
            display: block;
            width: 10px;
            height: 10px;
            padding: 0;
            margin: 0 8px;
            background: hsl(0 0% 20% / 25%);
            border-radius: 50%;
            cursor: pointer;
            appearance: none;
            border: none;
            text-indent: -9999px;
            overflow: hidden;
        }

        .flickity-rtl .flickity-page-dots li {
            text-indent: 9999px;
        }

        .flickity-page-dots li:focus {
            outline: none;
            box-shadow: 0 0 0 5px #19F;
        }

        .flickity-page-dots li.is-selected {
            background: hsl(0 0% 20% / 100%);
        }

        .flickity-button{
            width: 25px;
            height: 25px;
        }

    </style>

    <script>
        $(document).ready(function(){
            $('.carousel').flickity({
                cellAlign: 'center',
                pageDots: true,
                resize: true,
                contain: true,
                wrapAround: false
            });

            $('.search-btn').click(function(e){
                e.preventDefault();
                lat = $('#search_lat').val();
                lng = $('#search_lng').val();
                start_date = $('#reservation_start_date').val();
                end_date = $('#reservation_end_date').val();
                nbr_voyagers = $('#search_house_nbr_voyagers').val();

                const dataPrimary = {lat:lat ,lng:lng , start_date:start_date, end_date:end_date ,nbr_voyagers:nbr_voyagers};

                const currentUrl = window.location.origin;
                $.ajax({
                    url: currentUrl+'/search-primary',
                    data: dataPrimary,
                    method:'post'
                }).done(function(res){

                    const houseIdList = [];

                    res.forEach(function(house){
                        const currentHouseData = {lat:parseFloat(house.lat), lng:parseFloat(house.lng), id:house.id};
                        const center = {lat: parseFloat(dataPrimary['lat']), lng: parseFloat(dataPrimary['lng'])};
                        if(checkGoogleZone(currentHouseData, center) == true){
                            houseIdList.push(currentHouseData.id);
                        }
                    });

                    const dataRender = {ids: houseIdList};
                    $.ajax({

                        url: currentUrl+'/search-render',
                        data: dataRender,
                        method:'post'

                    }).done(function(res){
                        searchCenter=({lat: parseFloat($('#search_lat').val()) , lng: parseFloat($('#search_lng').val()) });
                        $('#houses-list').html(res);
                        initMap(searchCenter);

                    }).fail(function(res){
                        console.log('ko')
                    });
                }).fail(function(res){

                });
            });

            function checkGoogleZone(currentHouseData,center){
                
                //Initialisation du périmètre de recherche
                const cityCircle = new google.maps.Circle({
                    center: center,
                    radius: 50000
                });
                
                position = new google.maps.LatLng({lat: currentHouseData.lat, lng: currentHouseData.lng});
               
                //comparaison entre la distance entre le centre du périmètre et le diamètre
                if(google.maps.geometry.spherical.computeDistanceBetween(position, center) <= 50000){
                   
                    return true;
                }
                else{
                    return false;
                }   
            }
        });
    </script>
   
{% endblock %}
