{% extends 'base.html.twig' %}

{% block more_scripts %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="/raty-master/lib/jquery.raty.css">
{% endblock %}

{% block title %}House index{% endblock %}

{% block body %}
    

    <div class="row mx-0">
        <div class="col-4">
            <div id="map-container">
                <div id="map"></div>
            </div>
        </div>
        <div class="col-8">
            <div> 
                {{include("house/_search.html.twig")}}
            </div>
            <div id="houses-list" class="ps-5">
                {{include("house/_houses.html.twig",{'houses': houses, 'page_ids': page_ids}) }}
            </div>
        </div>
    </div>

    <style>
        .default-top, .normal-top >*{
                color: rgba(255, 255, 0, 0) !important;
        }
        .rent-btn,.search-btn{
            background-color:#F2B705;
        }
        .house-card{
            background-color:white;
            cursor:pointer;
        }
        #houses-list{
            background-color:#f2f2f2;
        }
        #map-container{
            position: fixed; 
            width:33%;
        }
        .nextArrowBtnImg{
        position: absolute;
        z-index: 2;
        top: 33%;
        right: -10px;
        color: #BFAFB2;
        }
        .prevArrowBtnImg{
            position: absolute;
            z-index: 2;
            top: 33%;
            left: -10px;
            color: #BFAFB2;
        }
        #map {
        height: 95vh;
        }

    </style>
    <script src="/raty-master/lib/jquery.raty.js"></script>
    <script>
        $(document).ready(function(){

            $('.less').click(function (){
                let id = $(this).data('id');
                
                if (id==1){
                    valueA = $('#adults').html();
                    if(valueA >1){
                    valueA--;
                    $('#adults').html(valueA);
                    }
                }  else if (id==2){
                    value = $('#kids').html();
                    if(value >0){
                    value--;
                    $('#kids').html(value);
                    }
                }
            });

            $('.select-voy').mousedown(function(e){
                e.preventDefault();
                $(this).focus();
                $('#nbr-voygeurs-ad-kid').toggle();
            });

            $('.more').click(function (){
                let id = $(this).data('id');
                if (id==1){
                    valueA = $('#adults').html();
                    valueA++;
                    $('#adults').html(valueA);
                } else if (id==2){
                    value = $('#kids').html();
                    value++;
                    $('#kids').html(value);
                }
            });

            var myDropdown = document.getElementById('myDropdown')
            myDropdown.addEventListener('hide.bs.dropdown', function () {
                total = parseInt($('#kids').html())+parseInt($('#adults').html());
                $('#reservation_nbr_voyagers').val(total);
                $('#dropdownMenuLink').html($('#adults').html()+' adulte(s) '+$('#kids').html()+' enfant(s)' )
            })
            ;

            $(".rating-comment").each(function(){
                let score = parseFloat($(this).data('note'));
                $(this).raty({
                    starOff:'/raty-master/lib/images/star-off.png',
                    starOn:'/raty-master/lib/images/star-on.png',
                    starHalf:'/raty-master/lib/images/star-half.png',
                    half: true,
                    readOnly: true, 
                    score: score
                });
            });
            

            $('.search-btn').click(function(e){
                e.preventDefault();

                lat = $('#search_lat').val();
                lng = $('#search_lng').val();
                start_date = $('#reservation_start_date').val();
                end_date = $('#reservation_end_date').val();
                nbr_voyagers =  parseInt($('#kids').html())+ parseInt($('#adults').html());
                type= $('#search_house_type').val();

                if(lat && lng && start_date && end_date && nbr_voyagers){
                   const dataPrimary = {lat:lat ,lng:lng , start_date:start_date, end_date:end_date ,nbr_voyagers:nbr_voyagers, type:type};

                    const currentUrl = window.location.origin;
                    $.ajax({
                        url: currentUrl+'/search-primary',
                        data: dataPrimary,
                        method:'post'
                    })
                    .done(function(res){

                        const houseIdList = [];

                        res.forEach(function(house){
                            const currentHouseData = {lat:parseFloat(house.lat), lng:parseFloat(house.lng), id:house.id};
                            const center = {lat: parseFloat(dataPrimary['lat']), lng: parseFloat(dataPrimary['lng'])};
                            if(checkGoogleZone(currentHouseData, center) == true){
                                houseIdList.push(currentHouseData.id);
                            }
                        });

                        const dataRender = {ids: houseIdList};
                        $.ajax({

                            url: currentUrl+'/search-render',
                            data: dataRender,
                            method:'post'

                        }).
                        done(function(res){
                            searchCenter=({lat: parseFloat($('#search_lat').val()) , lng: parseFloat($('#search_lng').val()) });
                            $('#houses-list').html(res);
                            initMap(searchCenter);
                        }).
                        fail(function(res){
                            console.log('ko')
                        });
                    })
                    .fail(function(res){

                    });
                }else{
                    console.log('ko')
                }
                
                
            });

            function checkGoogleZone(currentHouseData,center){
                
                //Initialisation du périmètre de recherche
                const cityCircle = new google.maps.Circle({
                    center: center,
                    radius: 20000, 
                });
                
                position = new google.maps.LatLng({lat: currentHouseData.lat, lng: currentHouseData.lng});
               
                //comparaison entre la distance entre le centre du périmètre et le diamètre
                if(google.maps.geometry.spherical.computeDistanceBetween(position, center) <= 20000){
                    return true;
                }
                else{
                    return false;
                }   
            }
        });
    </script>
    <script src="/raty-master/lib/jquery.raty.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% endblock %}
