{% extends 'base.html.twig' %}

{% block title %}Ajouter un hébergements{% endblock %}

{% block body %}
    <div class="new-container p-5">
        <h1 class="text-center my-5"> Ajouter un hébergement </h1>
        <div class="container">
            {{ include('house/_form.html.twig') }}
        </div>
    </div>
    <style>
        .new-container{
            background:rgba(242, 239, 186, 0.9);
        }
    </style>
{% endblock %}
