<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Atypik home{% endblock %}</title>
        <link rel="icon" href="/font/logo_page.svg">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
           
        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
            <link rel="stylesheet" href="/calendar/dist/daterangepicker.css">
            <script src="/calendar/dist/jquery.daterangepicker.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
            
        {% endblock %}

        {% block more_scripts %}

        {% endblock %}
    </head>
    <body>
     <link rel="stylesheet" href="/css/fonts.css">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a href="/"><img src="/font/logo.svg" class="navbar-brand" alt="logo" width="290" height="60"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a id="become-host" class="nav-link text-center d-flex align-items-center btn mx-3 mb-1 px-4 border text-dark" href="/register/host">Ajouter un hébergement</a>
                            {% if is_granted('ROLE_HOST') %}
                                {% set reservation_count = 0 %}
                                {% set comment_count = 0 %}
                                {% for notification in app.user.notifications %}
                                    {% if notification.type == "reservation" and notification.opened == 0 %}
                                    {% set reservation_count = reservation_count + 1  %}
                                    {% elseif   notification.type == "comment" and notification.opened == 0 %}
                                        {% set comment_count = comment_count + 1  %}
                                    {% endif %}
                                {% endfor %}
                                <a class="nav-link text-center d-flex align-items-center mb-1 mx-3 px-4 border border-dark text-dark" id="new_reservation">Nouvelle réservation ({{reservation_count}})</a>
                                <a class="nav-link text-center d-flex align-items-center mb-1 mx-3 px-4 border border-dark text-dark" id="new_comment" >Nouveaux commentaires ({{comment_count}})</a>
                            {% endif %}
                            <a id="logout" class="nav-link text-center d-flex align-items-center mb-1 mx-3 px-4 border border-dark text-dark" href="/logout">Déconnexion</a>
                        {% else %}
                            <a id="become-host" class="nav-link text-center d-flex align-items-center mb-1 border mx-3 px-4 text-dark" href="/register/host">Ajouter un hébergement</a>
                            <a id="register" class="nav-link text-center d-flex align-items-center mb-1 mx-3 px-4 border border-dark text-dark" href="/register">S'inscrire</a>
                            <a id="login" class="nav-link text-center d-flex align-items-center mb-1 mx-3 px-4 border border-dark text-dark" href="/login">Connexion</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        
        {% block body %}{% endblock %}
        <footer id="footer" class="py-5">
            <div class="container py-5">
                <div class="d-flex py-5 log-social">
                    <img src="/font/logo.svg" width="290" length="auto">
                    <div class="ms-auto d-flex align-items-center">
                        <img class="mx-2" width="30" length="auto" src="/font/social/fb.svg">
                        <img class="mx-2" width="30" length="auto" src="/font/social/twitter.svg">
                        <img class="mx-2" width="30" length="auto" src="/font/social/insta.svg">
                        <img class="mx-2" width="30" length="auto" src="/font/social/tiktok.svg">
                    </div>
                </div>
                <div class="row py-5">
                    <div class="col-4 py-5">
                        <ul class="list-unstyled">
                            <li class="mb-2"><a class="text-decoration-none text-white" href="#">Qui somme nous</a></li>
                            <li class="mb-2"><a class="text-decoration-none text-white" href="#">Nous contacter</a></li>
                            <li class="mb-2"><a class="text-decoration-none text-white" href="#">Mentions légales</a></li>
                            <li class="mb-2"><a class="text-decoration-none text-white" href="#">FAQ</a></li>
                            <li class="mb-2"><a class="text-decoration-none text-white" href="#">Confidentialité et cookies</a></li>
                            <li class="mb-2"><a class="text-decoration-none text-white" href="#">Conditions générales d'utilisation</a></li>
                        </ul>
                    </div>
                    <div class="col-4 py-5">
                        <ul class="list-unstyled">
                            <li class="mb-2"><a class="text-decoration-none text-white" href="#">Mon compte</a></li>
                            <li class="mb-2"><a class="text-decoration-none text-white" href="#">Ajouter un hébergements</a></li>
                            <li class="mb-2"><a class="text-decoration-none text-white" href="#">Offrir un cadeau</a></li>
                            <li class="mb-2"><a class="text-decoration-none text-white" href="#">Espace partenaires</a></li>
                            <li class="mb-2"><a class="text-decoration-none text-white" href="#">Option d'annulation</a></li>
                            <li class="mb-2"><a class="text-decoration-none text-white" href="#">Accueillir de manière durable</a></li>
                        </ul>
                    </div>
                    <div class="col-4 py-5 text-white">
                        <p class="footer-sg h4 mb-2">Ne rattez plus nos bon plans </p>
                        <p class="mb-2">Inscrivez vous pour recevoir les meilleurs offre</p>
                        <input type="text" class="w-75">.

                    </div>
                </div>
            </div>
        </footer>

        <style>
            body {
                min-height: 100vh;
                display: flex;
                flex-direction: column;
            }
            footer {
                margin-top: auto;
            }
            #become-host, .make-reservation:hover,#new_reservation:hover, #new_comment:hover {
                background-color:#F2EFBA;
            }
            #register:hover, #login:hover, #logout:hover{
                color:white !important;
                border-color:white !important;
            }
            .navbar, #become-host:hover{
                background-color:#F2B705;
            }
            footer{
                background:url('/images/backgrounds/footer.jpg');
                height:800px;
                background-position: center;
            }
        </style>

        <script>
            $('#new_reservation').click(function(){
                let currentUrl = window.location.origin;
                $.ajax({
                    url: currentUrl+'/notification/reservation',
                    method:'get'
                }).done(function(res){
                   window.location.replace(currentUrl+'/reservation');
                })
            });
            $('#new_comment').click(function(){
                let currentUrl = window.location.origin;
                $.ajax({
                    url: currentUrl+'/notification/comment',
                    method:'get'
                }).done(function(res){
                   window.location.replace(currentUrl+'/comment');
                })
            });
        </script>
        <script src="/javascript/google_map.js" ></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3Bywnvy8j0eIl5zH4qwTmQ872S284u8E&libraries=places,geometry&callback=initMap"></script>
        <script src="/javascript/google_autocomplete.js" ></script>
        <script src="/javascript/calendar.js" />        
    </body>
    
</html>
