<!-- FOOTER -->
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h3>AtypikHome</h3>
      <ul class="ps-3 list-unstyled border border-success border-3 border-top-0 border-end-0 border-bottom-0 border-start-3">
          <li><a class="text-decoration-none text-dark" href="#">Conditions générales d'Utilisation - CGU</a></li>
          <li><a class="text-decoration-none text-dark" href="#">Politique Générale de Protection des données - RGPD</a></li>
          <li><a class="text-decoration-none text-dark" href="#">Conditions générales de Vente - CGV</a></li>
          <li><a class="text-decoration-none text-dark" href="#">Mentions légales</a></li>
          <li><a class="text-decoration-none text-dark" href="#">Régles de diffusion des commentaires</a></li>
          <li><a class="text-decoration-none text-dark" href="#">Guide de bien-être</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
        <img class="bd-placeholder-img rounded-circle mx-auto d-block" width="140" height="140" src="{{ asset('build/img/img1.jpg') }}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>
        <p class="mt-3 text-center">AtypikHome - Tout droit réservé. Copyright &copy; 2022 - Agence IcaDesign</p>          
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3> 
      <ul class="ps-3 list-unstyled border border-success border-3 border-top-0 border-end-0 border-bottom-0 border-start-3">
          <li>On fait comme ca</li>
          <li>On fait comme ca</li>
          <li>On fait comme ca</li>
          <li>On fait comme ca</li>
          <li>On fait comme ca</li>
          <li>On fait comme ca</li>
      </ul>
    </div>
  </div>
</div>