{% if user.avatar is not null %}
    <div class>
        <div class="mx-auto">
            <div class="col-3 d-flex image-upload" >
                <img  src="/images/users/{{user.avatar}}" height="auto" width="200px" />
                <span class="close-cross-avatar text-center">X</span>
            </div>
        </div>
    </div>
{% endif %}